$primary: #410066;
$secondary: #FDB926;
$white: #ffffff;
$black: #000000;
$mediumGray: #E5E5E5;
$lightGray: #F1F1F1;

$transition: all 0.3s ease-in;

$headerHeight: 70px;
$asideWidth: 300px;
* {position: relative;}
:root {
  --bs-body-font-family: 'Ubuntu', sans-serif !important;
  --bs-primary: $primary !important;
}
body {
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
  padding-top: $headerHeight;
}
// .container-fluid,
// .container {max-width: 1400px;}


// commons //////////////////////////////////////
img {max-width: 100%;}
a {text-decoration: none;}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;  
}
.btn-outline-primary {
  color: $primary !important;
  border-color: $primary !important;
}

.ml-1 {margin-left: 0.25rem;}
.ml-2 {margin-left: 0.5rem;}
.mr-1 {margin-right: 0.25rem;}
.mr-2 {margin-right: 0.5rem;}
.ml-3 {margin-left: 0.7rem;}
.mr-3 {margin-right: 0.7rem;}
.ml-4 {margin-left: 1rem;}
.mr-4 {margin-right: 1rem;}
.ml-5 {margin-left: 1.5rem;}
.mr-5 {margin-right: 1.5rem;}

///////////////////////////////////////////////////

@mixin flexCenter($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
ul, ol {list-style: none;}
// Header
header {
  width: 100%;
  height: $headerHeight;
  border-bottom: 1px solid $mediumGray;
  background-color: $primary;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .mainLogo {
    width: 200px;
    margin-left: 1rem;
    img {max-height: 40px;}
  }
  .top-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;    
    li {
      margin-right: 1rem;
      a {
        width: 45px;
        height: 45px;
        border: 1px solid rgba($mediumGray, 0.2);
        color: inherit;
        border-radius: 50px;
        text-decoration: none;
        transition: $transition;
        @include flexCenter();
        &:hover {
          background-color: $secondary;
          border-color: $secondary;
          color: $primary;
        }
      }
    }
  }
}

.customDropdown {
  width: 45px;
  height: 45px;
  border: 1px solid rgba($mediumGray, 0.2);
  color: inherit;
  border-radius: 50px;
  text-decoration: none;
  transition: $transition;
  &:after, &::before {display: none !important; }
  @include flexCenter();
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: $primary;
  }
}

// Aside Bar
.contentContainer { width: 100%; }
aside, .asideBar {
  width: 100%;
  max-width: 300px;
  height: calc(100% - #{$headerHeight});
  max-height: calc(100% - #{$headerHeight});
  background-color: $white;
  margin: 0;
  min-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: $headerHeight;
  z-index: 1;
  border-right: 1px solid $mediumGray;
  background-color: rgba($lightGray, 0.4);
  .adminProfile {
    border-bottom: 1px solid $mediumGray;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon { 
      width: 80px;
      height: 80px;
      border-radius: 80px;
      border: 1px solid #ddd;
      background-color: $mediumGray;
      @include flexCenter();
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    h5 {font-weight: 600;}
  }

  .menues {
    width: 100%;
    padding: 1.5rem;
    margin: 0;
    li {
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: .7rem;
        color: $black;
        transition: $transition;
        font-size: 1.1rem;
        i {margin-right: 1rem;}
        &.active, &:hover {
          background-color: $primary;
          border-color: transparent;
          color: $white;
          padding: .7rem 1.2rem;
          border-radius: 7px;
        }
      }
      &:not(:last-child) a {border-bottom: 1px solid $mediumGray;}
    }
  }
}
main, .mainBar {
  width: 100%;
  margin: 0;
  max-width: calc(100% - #{$asideWidth});
  padding: 2rem;
}
.page-header {
  border-bottom: 1px solid $mediumGray;
  padding-bottom: .75rem;
  margin-bottom: .75rem;
}
.dashboard-box {
  width: 100%;
  padding: 1rem 1.5rem;
  min-height: 100px;
  border-radius: 10px;
  background-color: $lightGray;
  border: 1px solid $mediumGray;

  .__icon {
    width: 85px;
    height: 85px;
    display: flex;
    @include flexCenter();
    font-size: 2rem;
    background-color: rgba(black, .12);
    border-radius: 50%;
    color: #000000;
  }
  .lastMonthUpdates {
    font-size: .9rem;
    .percentage {font-weight: 700;}
    * {margin-right: .3rem;}
  }
  &.__increased {
    .__icon {
      background-color: rgba(green, .12);
      color: green;
    }
    .lastMonthUpdates {
      *:not(.txt) {color: green;}
    }
  }
  &.__decreased {
    .__icon {
      background-color: rgba(red, .12);
      color: red;
    }
    .lastMonthUpdates {
      *:not(.txt) {color: red;}
    }
  }
}


.staticShopsList {
  position: relative;
  font-size: .9rem;
  overflow-x: scroll;
  table {
    min-width: 1000px;
  }
}

.formContainer {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;

  .formSubContainer {
    position: relative;
    max-width: 650px;
    padding: 1.3rem;
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba($black, .2), 0 20px 60px rgba($black, .1);
    ._heading {
      border-bottom: 1px solid $mediumGray;
      margin-bottom: 1rem;
      padding: 0 0 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.galleryContainer {
  width: 100%;
  position: relative;
  
  .galleryCard {
    position: relative;
    width: 100%;
    border: 1px solid $mediumGray;
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: $transition;
    &:hover {
      border-color: $primary;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }
    .__image {
      width: 100%;
      height: 200px;
      overflow: hidden;
      border-radius: .2rem;
      margin-bottom: .5rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .__heading {
      width: 100%;
      padding: 0.25rem .5rem;
      display: flex;
      justify-content: space-between;
    }
  }
}

.galleryDetailContainer {
  position: relative;
  .__images {
    width: 100%;
    display: column;
    column-count: 4;
    column-gap: 0;
    column-width: 25%;
    .__img {
      position: relative;
      margin: 0.25rem;
      vertical-align: top;
      display: inline-block;
      transition: $transition;
      .__deleteIcon {
        width: 40px;
        height: 40px;
        @include flexCenter();
        color: $white;
        background-color: red;
        z-index: 1;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        border-radius: .3rem;
        cursor: pointer;
        transition: $transition;
        transform: scale(0);
        &:hover { background-color: $white;  color: red; }
      }
      &:hover .__deleteIcon {transform: scale(1);}
    }
  }
}




















































//loader 
.loaderContainer {
  width: 100%;
  min-height: 300px;
  background-color: $lightGray;
  height: 100%;
  @include flexCenter();
}

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: $primary; }
  100% { stroke: $secondary; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
 }
}

.alertContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 20;
  @include flexCenter();

  .alertSubContainer {
    min-width: 400px;
    min-height: 300px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(#000000, 0.15);
    padding: 1rem;
  }
}